body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Prevent Selection */
.protected {
    user-select: none;
}
